/*-------------------------------

    Custom stylesheet (custom.css)

    Project: origintype website
    Version: 1.0
    Author: By Dwi Priyatmoko
    Last change: 1 April 2020

----------------------------*/

a {
	color: #000;
	transition: color .3s;
}

a:hover,
a:focus {
	color: #ffa726;
}

h4 {
	color: #ffa726;
}


/***************
Home
***************/
.height {
	min-height: 350px;
	position: relative;
}

.heading {
	width: 100%;
	margin: 20px 0 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
}

.heading {
	transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .heading {
	transform: translate(-50%, -50%);
}

.heading {
	transition: transform 4s .25s cubic-bezier(0, 1, .3, 1);
	will-change: transform;
}

.header {
	opacity: 0;
	transition: opacity .5s .25s ease-in-out;
}

.header.is-visible {
	opacity: 1;
}

.grid.masonry .item .caption {
	top: 5%;
}

.grid.masonry .item .thumb {
	background-color: #181818;
	transition: opacity 0.5s ease;
}

.grid.masonry .item .thumb a {
	transition: .3s;
}


.filter-container ul.filters li a.filter {
	font-size: 30px;
}

@media screen and (min-width: 992px) {
	.grid.masonry .item:hover .thumb img {
		opacity: .1;
		transition: all .2s .1s;
	}
}

/***************
Keyboard works
***************/
.grid.classic .item .thumb {
	max-height: 341px;
}

/***************
Footer 
***************/
footer a {
	text-decoration: underline;
}

ul.social-links p {
	margin-bottom: 8px;
}

ul.social-links li a svg {
	width: 18px;
	height: 18px;
	fill: #555;
	transition: .3s;
}

ul.social-links li a svg:hover {
	fill: var(--primary-color);
}


/***************
About
***************/
.the-items p,
.the-items h4 {
	padding: 0 10px;
}

/***************
Single Page 
***************/
ul.list-mod p {
	margin-bottom: 8px;
}

.content img {
	width: 100%;
}


/***************
contact Page 
***************/
.contact-img {
	padding: 0 30px;
	text-align: center;
}
.contact-img img {
	width: auto;
	max-height: 60px;
	filter: grayscale(100%);
	transition: .3s;
}
.contact-img:hover img {
	filter: grayscale(0%);
}


/***************
All Responsive
***************/
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.contact-img {
		margin-bottom: 5rem;
	}	  

}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.contact-img {
		margin-bottom: 5rem;
	}	  
}